<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>
    短信检测<input type="text" id="tocheck">
    <button id="btn">点击检测</button>

    <form action="save_account">
        账号<input type="text" name="username" id="username"><br>
        密码<input type="text" name="password" id="password"><br>
        <input type="submit" value="提交">
    </form>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/verify.js"></script>

</body>
</html>